fg-photo {
    display: flex;

    cursor: pointer;

    .img-container {
        display: flex;

        border: 3px dashed transparent;
        &.selected {
            border-color: red;
        }
    }
}
